.root {
  font-size: 34px;
  font-family: Monaco, monospace;
  font-weight: 600;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: start;
  align-items: center;
  align-content: center;
  justify-items: center;
  width: 50%;
}
.span {
}
