.root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 34px;
  justify-content: center;
  padding: 0px;
  overflow: hidden;
  margin-right: 10px;
}
.svg {
  width: 40px;
  height: 40px;
}
.buttonsvg {
  padding: 0px;
  background-color: #ffffff;
}
.signoutbtn {
  padding: 0px 5px 0px 0px;
  font-size: 25px;
  border: 0px solid transparent;
  border-radius: 0px;
  background-color: #dadada;
  color: #ffffff;
}
