.root {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #cfcfcf;
}
.img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.spandiv {
  padding: 10px;
  display: flex;
  align-items: center;
}
.imgdiv {
  width: 60px;
  height: 60px;
}
